@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

$nav-color: #161a25;
$button-color: #e84705;
$text-color-orange: #e84705;
$sub-section: #f5f5f5;
$box-shadow: 12px 3px 12px 21px rgba(0, 0, 0, 0.804);
$poppins: "Poppins", sans-serif;
